header {
    height: 10vh;
    background-color: blue;
}
@media screen and (min-width: 720px) {
   
header {
    background-color: orange;
} 
}
@media screen and (min-width: 1044px) {
   
    header {
        background-color: rgb(196, 14, 186);
    } 
    }
    
